<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110890067109-gpjtb51st0prgppbpuhjbg7r3a120s0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110890067109-gpjtb51st0prgppbpuhjbg7r3a120s0i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>110890067109-5b0idtoah2uttqrbt6befttiho3bpfpq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfA44eDd6-qW_9MdJJIuGOke3Qx7wRmx0</string>
	<key>GCM_SENDER_ID</key>
	<string>110890067109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.gifthubwebapp</string>
	<key>PROJECT_ID</key>
	<string>gifthub-1051b</string>
	<key>STORAGE_BUCKET</key>
	<string>gifthub-1051b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110890067109:ios:7a4c8320dc233c0e8ad94c</string>
</dict>
</plist>